<style>
    .settings-container {
        display: flex; 
        align-items: center;
    }

    .settings {
        display: inline-block;
        margin: 0 auto;
    }

    .stats {
        background-color: brown;
        color: white;
        padding: 0.5rem;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: column;
    }

    .settings div p {
        padding: 0;
        margin: 0;
    }

    .control-button-container {
        display: flex; 
        flex-direction: column;
    }

    .control-button-container button {
        margin-top: 0.5rem;
        /* width: 100%; */
    }
</style>

<div class="settings-container">
    <div class="settings">
        <div class="stats mat-elevation-z2 mat-body-strong">
            <p>{{timeElapsed}}</p>
            <p>{{numberOfMoves}} moves</p>
        </div>
        <div class="control-button-container">
            <button 
                [disabled]="simulating"
                mat-raised-button 
                color="primary" 
                (click)="restart()">
                Restart
            </button>
            <button 
                [disabled]="simulating"
                mat-raised-button 
                color="primary" 
                (click)="instructions()">I
                nstructions
            </button>
            <button 
                [disabled]="simulating"
                mat-raised-button 
                color="primary" 
                (click)="simulate()">
                {{ simulating ? 'Cancel' : 'Simulate'}}
            </button>
        </div>
    </div>
</div>