<style>
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .canvas {
        max-width: 60rem;
        height: 30rem;
        background-color: white;
        margin: 0 1rem;
        display: flex;
        position: relative;
    }

    .pin-section {
        height: 100%;
        position: relative;
        flex: 1;
    }

    .pin {
        width: 10px;
        height: 95%;
        background-color: firebrick;
        position: absolute;
        bottom: 0;
    }

    #timer {
        padding-bottom: 1rem;
    }

    .disks {
        display: flex;
        flex-direction: column;
    }

    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .disks >* {
        margin-bottom: 0.7rem;
    }

    .game-progress {
        position: absolute;
        top: 1rem;
        right: -5rem;
    }

    .base {
        flex: 1;
        background-color:firebrick;
    }

    .menu {
        display: none;
    }

    /* Responsive Styles */
    @media screen and (max-width: 60rem) {
        .game-progress {
            display: none;
        }

        .menu {
            display: inline-block;
        }
    }

    @media screen and (max-width: 575px) {
        /* svg#rocket-smoke {
            display: none;
            visibility: hidden;
        } */
    }
</style>
<div class="container">
    <div class="canvas" id="canvas">
        <div class="controls">
            <button mat-icon-button [matMenuTriggerFor]="appMenu" class="menu">
                <mat-icon [hidden]="showMenu">menu</mat-icon>
            </button>
            <div class="disks">
                <button mat-fab aria-label="Increase disks" color="primary" (click)="addDisk()">
                    <mat-icon>add</mat-icon>
                </button>   
                <button mat-fab aria-label="Decrease disks" color="primary" (click)="removeDisk()">
                    <mat-icon>remove</mat-icon>
                </button>   
            </div>
        </div>
        <mat-menu #appMenu="matMenu" class="mat-elevation-z2">
            <app-game-progress 
                (restartEvent)="restart()"
                (simulateEvent)="simulate()"
                [numberOfMoves]="getNumberOfMoves()"
                [timeElapsed]="getTimeElapsed()">
            </app-game-progress>
        </mat-menu>
        <app-game-progress 
            class="game-progress"
            (restartEvent)="restart()"
            (simulateEvent)="simulate()"
            [numberOfMoves]="getNumberOfMoves()"
            [timeElapsed]="getTimeElapsed()">
        </app-game-progress>
        <div class="pin" id="pinA"></div>
        <div class="pin" id="pinB"></div>
        <div class="pin" id="pinC"></div>
    </div>
    <div class="base">
    </div>
</div>