<style>

  .dialog:host {
    padding: 0;
  }

  .content {
    background-color: brown;
    color: white;
    padding: 1rem;
  }

  .controls {
    padding-bottom: 2rem;
    padding-left: 1rem;
  }
</style>

<div class="dialog">
  <div class="content">
    <h1 mat-dialog-title>Game over!</h1>
    <div mat-dialog-content>
      <p>Completed in {{data.moves}} moves</p>
      <p>Optimal: {{data.optimalMoves}} moves</p>
    </div>
  </div>
  <div mat-dialog-actions class="controls">
    <button mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial color="primary">
      Close
    </button>
  </div>
</div>